{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="container border-secondary p-2 mt-5">
    <h1>Enregistrement</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email, {
            label: 'Courriel'
        }) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de Passe'
        }) }}
        {{ form_row(registrationForm.agreeTerms, {
            label: 'Acceptez les conditions d\'utilisation'
        }) }}

        <button type="submit" class="btn-primary mt-2">Enregistrement</button>
    {{ form_end(registrationForm) }}
    </div>
{% endblock %}
